#left-col, #right-col {
    /*display: inline-block;*/
    width: 320px;
    height: 100%;
    max-height: 100%;
    margin-right: 20px;
    /*border: 2px black solid;x
    vertical-align: top;*/
    overflow: hidden;
}

#inner-right {
    height: 300px;
    max-height: 300px;
    overflow-y: scroll;
    background: ivory;
}