<form>
    <div class="form-group">
        <label>Nombre</label>
        <input name="nombre" class="form-control" type="text" [(ngModel)]="peliculaDet.nombre">

        <label>Tipo</label>
        <input name="tipo" class="form-control" type="text" [(ngModel)]="peliculaDet.tipo">

        <label>Fecha de estreno</label>
        <input name="fecha" class="form-control" type="text" [(ngModel)]="peliculaDet.fechaDeEstreno">

        <label>Cantidad de publico</label>
        <input name="publico" class="form-control" type="text" [(ngModel)]="peliculaDet.cantidadDePublico">

        <label>Foto</label>
        <input name="foto" class="form-control" type="text" [(ngModel)]="peliculaDet.foto">

        <button class="btn btn-primary"  (click)="guardar()">Guardar</button>
    </div>
</form>